<footer class="footer">
	<small>
		<a href="http://cuelogic.co.in/">Cuelogic Technology Pvt. Ltd.</a>
	</small>
	<nav>
		<ul>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://blog.cuelogic.co.in/">Blog</a></li>
		</ul>
	</nav>
</footer>